---
layout: base
bodyId: component-routing
bodyClass: core-devs
title: Core Developers - Routing Library
description: MaidSafe's distributed platform enables the creation of fast and secure applications that help ensure digital privacy, security and freedom for all.
keywords: Distributed Platform, MaidSafe
includes: ['side-menu.html']
---

<div class="inner-page row">
  {% include html/side-menu-core-components.html %}
  {% include html/search.html %}
  <div class="small-12 medium-9 columns">
    <h1>Routing Library</h1>
    <h2>Overview</h2>
    <p>A secured <a href="http://en.wikipedia.org/wiki/Distributed_hash_table" target="_blank">DHT</a>, based on a <a href="http://en.wikipedia.org/wiki/Kademlia" target="_blank">kademlia-like</a> implementation, but with some very stark differences. This is a recursive as opposed to iterative network, enabling easier NAT traversal and providing more efficient use of routers and larger networks. This also allows very fast reconfiguration of network changes, aleviating the requirement for a refresh algorithm. A recursive solution based on a network protocol layer that is 'connection oriented' also allows a close group to be aligned with security protocols.</p>
    <p>This library makes use of <a href="http://en.wikipedia.org/wiki/Public-key_cryptography" target="_blank">Public-key cryptography</a> to allow a mechanism to ensure nodes are well recognised and cryptographically secured. This pattern allows the creation of a DHT based PKI and this in turn allows a decentralised network to make use of groups as fixed in relation to any address. This is particularly useful in a continually fluid network as described <a href="http://maidsafe.net/Whitepapers/pdf/MaidSafeDistributedHashTable.pdf" target="_blank">here</a>, creating a server-less and <a href="http://maidsafe.net/docs/SAFEnetwork.pdf" target="_blank">autonomous network</a>.</p>
    <p>This is a very under researched area. For a general introduction to some of the ideas behind the design related to XOR Space, watching <a href="https://www.youtube.com/watch?v=Lr9FJRDcNzk&list=PLiYqQVdgdw_sSDkdIZzDRQR9xZlsukIxD" target="_blank">The SAFE Network from First Principles series</a> is recommended. The slides for XOR Distance Metric and Basic Routing lecture are also <a href="http://ericklavoie.com/talks/safenetwork/1-xor-routing.pdf" target="_blank">available here</a>. The last video from the series on how the same ideas were applied to decentralised BitTorrent trackers is available <a href="https://www.youtube.com/watch?v=YFV908uoLPY" target="_blank">here</a>. A proper formalisation of the Routing algorithm is in progress.</p>
  </div>
</div>
