---
layout: base
bodyId: component-self-encryption
bodyClass: core-devs
title: Core Developers - Self Encryption Library
description: MaidSafe's distributed platform enables the creation of fast and secure applications that help ensure digital privacy, security and freedom for all.
keywords: Distributed Platform, MaidSafe
includes: ['side-menu.html']
---

<div class="inner-page row">
  {% include html/side-menu-core-components.html %}
  {% include html/search.html %}
  <div class="small-12 medium-9 columns">
    <h1>Self Encryption Library</h1>
    <h2>Overview</h2>
    <p>A version of <a href="http://en.wikipedia.org/wiki/Convergent_encryption" target="_blank">convergent encryption</a> with an additional obfuscation step. This pattern allows secured data that can also be <a href="http://en.wikipedia.org/wiki/Data_deduplication" target="_blank">de-duplicated</a>. This library presents an API that can be utilised in any application that provides a POSIX like filesystem interface, dealing very effectively with the content part of any data (in tests the parallelised approach can actually be faster than reading/writing data as a single stream). It is important to realise two important aspects of this library:</p>
    <ol>
    	<li>This library deals with file content <strong>only</strong></li>
    	<li>This library provides very secure data, but does return a data structure (DataMap) that in turn requires to be secured.</li>
    </ol>
    <img src="../img/self-encryption-diagram.png" class="self-encryption-diagram"/>
  </div>
</div>
