---
layout: base
bodyId: examples
bodyClass: core-devs
title: Core Developers - Examples
description: MaidSafe's distributed platform enables the creation of fast and secure applications that help ensure digital privacy, security and freedom for all.
keywords: Distributed Platform, MaidSafe
includes: ['side-menu.html']
---

<div class="inner-page row">
  {% include html/side-menu-core-examples.html %}
  {% include html/search.html %}
  <div class="small-12 medium-9 columns">
    <h1>Examples</h1>
    <h2>Sub-title</h2>
    <p>Ei habeo velit officiis usu, pro cu alii sumo nostro. Case ludus detraxit eos et. Cetero patrioque vituperata in cum, ne ipsum propriae scribentur est. Et vim qualisque accommodare, ad duo reformidans accommodare. Ne quo tantas copiosae repudiare, pro ubique inimicus efficiantur in, sit maluisset interpretaris ne. Ei omnis harum sententiae pri.</p>
    <code>In sea tota movet percipit, at has graeco adipisci. Ius ut accusam explicari. Veri modus pri ei, labitur delectus adolescens his id. Eu aliquid voluptatum liberavisse vim. Vim malis platonem aliquando eu, ea mea fuisset definiebas, delectus maluisset at sed.</code>
  </div>
</div>
