---
layout: base
bodyId: intro
bodyClass: core-devs
title: Core Developers - Intro
description: MaidSafe's distributed platform enables the creation of fast and secure applications that help ensure digital privacy, security and freedom for all.
keywords: Distributed Platform, MaidSafe
includes: ['side-menu.html']
---

<div class="inner-page">
  {% include html/side-menu.html %}
  {% include html/search.html %}
  <div class="medium-9 columns right">
    <h1>Introduction</h1>
    <p>Ei habeo velit officiis usu, pro cu alii sumo nostro. Case ludus detraxit eos et. Cetero patrioque vituperata in cum, ne ipsum propriae scribentur est. Et vim qualisque accommodare, ad duo reformidans accommodare. Ne quo tantas copiosae repudiare, pro ubique inimicus efficiantur in, sit maluisset interpretaris ne. Ei omnis harum sententiae pri.</p>
  </div>
  <div class="medium-9 columns right">
    <h1>Jump into the tutorials</h1>
    <p>Below are some tutorials to get you started building decentralised and secure applications on the SAFE Network.</p>
  </div>
  <div class='medium-9 columns right page-boxes'>
    <div class='grid-4 col-l'>
      <div class='thumbnail'></div>
      <h3>Authentication Tutorial</h3>
      <p>Authentication is the first step for the user to securely access their data on the SAFE Network.</p>
    </div>
    <div class='grid-4 col-m'>
      <div class='thumbnail'></div>
      <h3>Messaging Tutorial</h3>
      <p>Use this example to understand how to implement basic, secure messaging between users.</p>
    </div>
    <div class='grid-4 col-r'>
      <div class='thumbnail'></div>
      <h3>Data Storage Tutorial</h3>
      <p>Data on the network can be public, privately shared or kept 100% private. Use this tutorial to understand how to interact with these data types.</p>
    </div>
    <p>Or see the <a href="/app-devs/tutorials">full list of tutorials</a></p>
  </div>
</div>
