---
layout: base
bodyId: home
title: Build by MaidSafe
description: MaidSafe's distributed platform enables the creation of fast and secure applications that help ensure digital privacy, security and freedom for all.
keywords: Distributed Platform, MaidSafe
includes: ['home.html']
---

<div class="container-12">
  <div class="grid-12">
    <h1>Build is your portal to developing evolved Internet applications and services using the SAFE Network: an open, decentralized and secure platform for storage and communications</h1>
    <div class="grid-8 features">
      <div class="feature">
        <div class="lock-icon col-l"></div>
        <h2 class="grid-7 col-r">Network level security lowers developer liability for user data and ensures more time for features and UX</h2>
      </div>
      <div class="feature">
        <div class="api-icon col-l"></div>
        <h2 class="grid-7 col-r">REST and POSIX APIs provide a flexible, open and free development platform</h2>
      </div>
      <div class="feature">
        <div class="coins-icon col-l"></div>
        <h2 class="grid-7 col-r">Network level cryptocurrency facilitates alternative developer revenue streams</h2>
      </div>
    </div>
    <div class="grid-6 app-dev col-l">
      {% include html/app-dev-icon.html %}
      <h3>App Developers</h3>
      <p>Find out more about the open APIs and built-in revenue stream.</p>
    </div>
    <div class="grid-6 core-dev col-r">
      {% include html/core-dev-icon.html %}
      <h3>Core Developers</h3>
      <p>Help maintain the underlying SAFE Network code and learn about the bounty system.</p>
    </div>
    <div class="box-links">
      <div class="grid-4 col-l">
        <div class="tutorials-icon icon"></div>
        <p>Let us help you get up to speed quickly with some example apps</p>
      </div>
      <div class="grid-4 col-m">
        <div class="border"></div>
        <div class="roadmap-icon icon"></div>
        <p>Check the development roadmap for past and future updates</p>
      </div>
      <div class="grid-4 col-r">
        <div class="border"></div>
        <div class="about-icon icon"></div>
        <p>Find out more about MaidSafe and the SAFE Network</p>
      </div>
    </div>
  </div>
</div>
