---
layout: base
bodyId: home
title: Build by MaidSafe
description: MaidSafe's distributed platform enables the creation of fast and secure applications that help ensure digital privacy, security and freedom for all.
keywords: Distributed Platform, MaidSafe
includes: ['home.html']
---
<div class="banner" id="banner1">
  <h1>Build is your portal to developing evolved Internet applications and services using the SAFE Network: an open, decentralized and secure platform for storage and communications</h1>
  <a href='/app-devs/tutorials'><p>Get started with tutorials</p></a>
</div>
<div class="container-12 section">
  <div class="grid-12">

      <!-- {% include html/app-dev-icon.html %} -->
    <div class="grid-8 features">
      <div class="feature">
        <div class="lock-icon col-l"></div>
        <h2 class="grid-7 col-r">Network level security lowers developer liability for user data and ensures more time for features and UX</h2>
      </div>
      <div class="feature">
        <div class="api-icon col-l"></div>
        <h2 class="grid-7 col-r">REST and POSIX APIs provide a flexible, open and free development platform</h2>
      </div>
      <div class="feature">
        <div class="coins-icon col-l"></div>
        <h2 class="grid-7 col-r">Network level cryptocurrency facilitates alternative developer revenue streams</h2>
      </div>
      <a href='/app-devs/'><p>Go to App Developers</p></a>
    </div>
  </div>
</div>
<div class="banner" id="banner2">
  <h1>The SAFE Network is a free and open platform with no central ownership maintained by a global network of core developers</h1>
</div>
<div class="container-12">
  <div class="grid-12">
    <!-- {% include html/core-dev-icon.html %} -->
    <h1>Contribute to SAFE Network core libraries</h1>
    <p>Join the global community of SAFE core developers and earn bounty rewards for open source contributions</p>
  </div>
  <div class='grid-12 core-boxes'>
    <div class='grid-4 col-l'>
      <div class='thumbnail'></div>
      <p>Learn about the MaidSafe developers bounty program for maintainers of the core libraries and API's</p>
    </div>
    <div class='grid-4 col-m'>
      <div class='thumbnail'></div>
      <p>Become familiar with our RFC (Request for Comment) process to begin submitting substantial improvements to core library and API design</p>
    </div>
    <div class='grid-4 col-r'>
      <div class='thumbnail'></div>
      <p>Watch our whiteboard sessions to become familiar with the network design and distinct libraries</p>
    </div>
  </div>
</div>
