<!-- build:js(app) /js/home.js -->
<!--<script type="text/javascript" charset="utf-8" src="js/third-party/edge.5.0.1.min.js"></script>
<script type="text/javascript" charset="utf-8" src="js/app_dev_edge.js"></script>
<script>
   AdobeEdge.loadComposition('js/app_dev', 'EDGE-18545509', {
    scaleToFit: "none",
    centerStage: "none",
    minW: "0",
    maxW: "undefined",
    width: "160px",
    height: "160px"
}, {"dom":{}}, {"dom":{}});
</script>
<script type="text/javascript" charset="utf-8" src="js/core_dev_edge.js"></script>
<script>
   AdobeEdge.loadComposition('js/core_dev', 'EDGE-22996396', {
    scaleToFit: "none",
    centerStage: "none",
    minW: "0",
    maxW: "undefined",
    width: "160px",
    height: "160px"
}, {"dom":{}}, {"dom":{}});
</script>-->
<!-- endbuild -->

<!-- build:css(app) css/home.css -->
<!-- endbuild -->
