<div id="app-dev-icon-wrapper">
<div id="StageA" class="EDGE-18545509">
    <div id="Stage_app_icon" class="edgeLoad-EDGE-18545509">
        <div id="Stage_whole_app_icon" class="edgeLoad-EDGE-18545509">
            <div id="Stage_whole_app_icon_stars">
                <div id="Stage_whole_app_icon_stars_star1">
                    <div id="Stage_whole_app_icon_stars_star1_star"></div>
                </div>
                <div id="Stage_whole_app_icon_stars_star2">
                    <div id="Stage_whole_app_icon_stars_star2_star"></div>
                </div>
                <div id="Stage_whole_app_icon_stars_star3">
                    <div id="Stage_whole_app_icon_stars_star3_star"></div>
                </div>
                <div id="Stage_whole_app_icon_stars_star4">
                    <div id="Stage_whole_app_icon_stars_star4_star"></div>
                </div>
            </div>
            <div id="Stage_whole_app_icon_cog">
                <div id="Stage_whole_app_icon_cog_light_bulb_cog"></div>
            </div>
            <div id="Stage_whole_app_icon_light_bulb_inside"></div>
            <div id="Stage_whole_app_icon_light_bulb_base"></div>
            <div id="Stage_whole_app_icon_light_bulb"></div>
            <div id="Stage_whole_app_icon_light_bulb_bg"></div>
        </div>
    </div>
    <div id="Stage_Ellipse2" class="edgeLoad-EDGE-18545509"></div>
</div>
</div>