<div id="core-dev-icon-wrapper">
	<div id="StageB" class="EDGE-22996396">
	
        <div id="Stage_core_icon" class="edgeLoad-EDGE-22996396">
            <div id="Stage_whole_icon" class="edgeLoad-EDGE-22996396">
                <div id="Stage_whole_icon_code_change">
                    <div id="Stage_whole_icon_code_change_code1"></div>
                    <div id="Stage_whole_icon_code_change_code2"></div>
                    <div id="Stage_whole_icon_code_change_code3"></div>
                    <div id="Stage_whole_icon_code_change_code4"></div>
                </div>
                <div id="Stage_whole_icon_cog">
                    <div id="Stage_whole_icon_cog_cog_icon"></div>
                </div>
                <div id="Stage_whole_icon_code_bg"></div>
                <div id="Stage_whole_icon_bg"></div>
            </div>
        </div>
        <div id="Stage_Ellipse3" class="edgeLoad-EDGE-22996396"></div>
    </div>
</div>