<footer>
  <div class="top">
    <div class="row">
      <ul class="small-block-grid-2 medium-block-grid-5">
        <li class="community-link">
          <a href="https://forum.safenetwork.io">
            <div class="community"></div>
            <p>Community forum</p>
          </a>
        </li>
        <li class="meetup-link">
          <a href="http://maidsafe.meetup.com/">
            <div class="meetup"></div>
            <p>Join a meetup</p>
          </a>
        </li>
        <li class="homepage-link">
          <a href="http://maidsafe.net">
            <div class="homepage"></div>
            <p>MaidSafe Company Site</p>
          </a>
        </li>
        <li class="safe-pod-link">
          <a href="/safe-pods">
            <div class="safe-pods"></div>
            <p>SAFE Pods</p>
          </a>
        </li>
        <li class="twitter-link">
          <a href="https://twitter.com/maidsafe">
            <div class="twitter"></div>
            <p>Twitter</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="bottom show-for-medium-up">
    <div class="container-12">
      <div class="grid-12 breadcrumbs">
        <ul>
          <li><div class="sm-icon"></div></li>
          <li><a href="/">Developers</a></li>
        </ul>
      </div>
      <div class="grid-12 bottom-nav">
        <div class="grid-2 title">
          <ul>
            <li><a href="/app-devs/">App Devs</a>
            </li>
            <li><a href="/app-devs/">Getting started</a>
            </li>
            <li><a href="#">Unnamed Tutorial</a></li>
            <li><a href="#">Unnamed Tutorial</a></li>
            <li><a href="#">Unnamed Tutorial</a></li>
          </ul>
        </div>
        <div class="grid-2">
          <ul>
            <li><a href="/app-devs/rest-api" target="_blank">REST API Docs</a>
            </li>
            <li><a href="/app-devs/posix-api" target="_blank">POSIX API Docs</a>
            </li>
          </ul>
        </div>
        <div class="grid-2">
          <ul>
            <li><a href="/app-devs/best-practices" target="_blank">Best practices</a>
            </li>
            <li><a href="/app-devs/rewards" target="_blank">Rewards</a>
            </li>
            <li><a href="/app-devs/support" target="_blank">Support</a>
            </li>
          </ul>
        </div>
        <div class="grid-2 title">
          <ul>
            <li><a href="/core-devs/">Core Devs</a>
            </li>
            <li><a href="/core-devs/">Getting started</a>
            </li>
            <li><a href="#">Examples</a></li>
            <li><a href="#">Self Encryptor</a></li>
            <li><a href="#">Crust</a></li>
            <li><a href="#">Routing</a></li>
            <li><a href="#">Vaults</a></li>
            <li><a href="#">LRU Cache</a></li>
            <li><a href="#">Accumulator</a></li>
          </ul>
        </div>
        <div class="grid-2">
          <ul>
            <li><a href="#">Components</a></li>
            <li><a href="#">Self Encryptor</a></li>
            <li><a href="#">Crust</a></li>
            <li><a href="#">Routing</a></li>
            <li><a href="#">Vaults</a></li>
            <li><a href="#">Sentinal</a></li>
            <li><a href="#">Client</a></li>
          </ul>
        </div>
        <div class="grid-2">
          <ul>
            <li><a href="/core-devs/rewards" target="_blank">Rewards</a>
            </li>
            <li><a href="/core-devs/support" target="_blank">Support</a>
            </li>
            <li><a href="/core-devs/whiteboard-videos" target="_blank">White board session videos</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="grid-12 legal">
        <ul>
          <li><a href="/disclaimer">Disclaimer</a></li>
          <li><a href="/privacy">Privacy</a></li>
          <li><a href="/contact">Contact us</a></li>
          <li><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0;margin:-2px" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>