<nav class="custom-nav row-full-width show-for-medium-up">
    <div class="row">
        <div class="column medium-3">
            <a class="brand-logo" href="/">
                <img src="imgs/dev_logo.svg" width="100%">
            </a>
        </div>
        <div class="column  medium-offset-1 medium-8 nav-options">
            <ul>
                <li class="medium-3 left text-center">
                    <a class="has-sub-nav" href="/app_devs.html">App Developers</a>
                </li>
                <li class="medium-3 left text-center">
                    <a href="/core_devs.html">Core Developers</a>
                </li>
                <li class="medium-2 left text-center">
                    <a href="/roadmap.html">Roadmap</a>
                </li>
                <li class="medium-2 left text-center">
                    <a href="/careers.html">Careers</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
 <!--Nav for smaller screens -->
<nav class="top-bar show-for-small-only" data-topbar role="navigation" data-options="is_hover: false">
    <ul class="title-area">
        <li class="name">
            <h1>
                <a href="/">
                    <img src="imgs/dev_logo.svg" width="100%">
                </a>
            </h1>
        </li>
        <li class="toggle-topbar">
            <a href="#">
                <span>Menu</span>
            </a>
        </li>
    </ul>

    <dl class="accordion" data-accordion>
        <dd class="accordion-navigation">
            <a href="#appdev"><strong>App Developers</strong></a>
            <dl id="appdev" class="content vertical-nav-list">
                <dd>
                    <a>Getting Started</a>
                </dd>
                <dd>
                    <a>API Documentation</a>
                </dd>
                <dd>
                    <a>Rewards</a>
                </dd>
                <dd>
                    <a>Support</a>
                </dd>
            </dl>
        </dd>
        <dd class="accordion-navigation">
            <a href="#coredev"><strong>Core Developers</strong></a>
            <div id="coredev" class="content">
                Panel 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
        </dd>
        <dd class="accordion-navigation">
            <a href="#roadmap"><strong>Roadmap</strong></a>
            <div id="roadmap" class="content">
                Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
        </dd>
        <dd class="accordion-navigation">
            <a href="#carrers"><strong>Careers</strong></a>
            <div id="carrers" class="content">
                Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
        </dd>
    </dl>
</nav>