<!-- Site Header -->
<header>
  <div class="container">
    <!-- Site Logo -->
    <div class="sec-1 col-xs-9 col-sm-5 col-md-3">
      <div class="site-logo">
        <img src="./img/dev_logo.svg" alt="MaidSafe Logo" />
      </div>
    </div>
    <!-- #Site Logo -->
    <!-- Navigation -->
    <div class="sec-2 col-xs-3 col-sm-4 pull-right col-md-9">
      <!-- Primary Navigation -->
      <ul class="primary-nav hidden-xs hidden-sm">
        <li class="lg-txt"><a href="#">App Developers</a></li>
        <li class="lg-txt"><a href="#">Core Developers</a></li>
        <li class="sm-txt"><a href="#">Roadmap</a></li>
        <li class="sm-txt"><a href="#">Careers</a></li>
      </ul>
      <!-- #Primary Navigation -->
      <!-- Secondary Navigation -->
      <div class="secondary-nav hidden-md hidden-lg">
        <div id="secNav" class="title">Menu</div>
        <ul class="nav-list">
          <li class="lg-txt"><a href="#">App Developers</a></li>
          <li class="lg-txt"><a href="#">Core Developers</a></li>
          <li class="sm-txt"><a href="#">Roadmap</a></li>
          <li class="sm-txt"><a href="#">Careers</a></li>
        </ul>
      </div>
      <!-- #Secondary Navigation -->
    </div>
    <!-- #Navigation -->
  </div>
</header>
<!-- #Site Header -->
