
<header>
  <div class="container-12 fw">
    <div class="grid-2">
      <a class="build-logo" href="/" title="Home"></a>
    </div>
    <div class="grid-10">
      <a class="menu-link" href="#menu">Menu</a>
      <nav id="menu" class="menu">
        <ul>
          <li class="app-devs"><a href="app-devs/">App Devs</a></li>
          <li class="core-devs"><a href="core-devs/">Core Devs</a></li>
          <li class="roadmap"><a href="roadmap/">Roadmap</a></li>
          <li class="search"><form><input type="text" placeholder="Search"></form>
        </ul>
      </nav>
    </div>
  </div>
  <div class="header-pointer"></div>
</header>