<div class="grid-3" id="side-menu">
  <ul class="menu-category show">
    <li class="menu-title">Getting Started</li>
    <li class="menu-item"><a href="#intro">Intro</a></li>
    <li class="menu-item"><a href="#language">Language</a></li>
    <li class="menu-item"><a href="#rest-api">REST API</a></li>
    <li class="menu-item"><a href="#posix-api">POSIX API</a></li>
  </ul>
  <ul class="menu-category">
    <li class="menu-title">Documentation</li>
    <li class="menu-item">All</li>
    <li class="menu-item">REST API</li>
    <li class="menu-item">POSIX API</li>
  </ul>
  <ul class="menu-category">
    <li class="menu-title">Showcase</li>
    <li class="menu-item">MaidSafe apps</li>
    <li class="menu-item">Communication</li>
    <li class="menu-item">Productivity</li>
  </ul>
  <ul class="menu-category">
    <li class="menu-title">Rewards</li>
    <li class="menu-item">Safecoin</li>
    <li class="menu-item">Bounty system</li>
    <li class="menu-item">Leaderboard</li>
  </ul>
</div>