<div class="medium-3 columns show-for-medium-up" id="side-menu">
  <h3>Examples</h3>
  <ul class="menu-category no-sub">
    <li class="menu-title examples"><a href="/core-devs/examples">Overview</a></li>
  </ul>
  <ul class="menu-category no-sub">
    <li class="menu-title example-crust"><a href="/core-devs/example-crust">Crust</a></li>
  </ul>
  <ul class="menu-category no-sub">
    <li class="menu-title example-routing"><a href="/core-devs/example-routing">Routing</a></li>
  </ul>
  <ul class="menu-category no-sub">
    <li class="menu-title example-vaults"><a href="/core-devs/example-vaults">Vaults</a></li>
  </ul>
  <ul class="menu-category no-sub">
    <li class="menu-title example-self-encryption"><a href="/core-devs/example-self-encryption">Self Encryption</a></li>
  </ul>
</div>