<div class="medium-3 columns show-for-medium-up" id="side-menu">
  <h3>Category Title</h3>
  <ul class="menu-category">
    <li class="menu-title">Category with submenu</li>
    <li class="menu-item intro"><a href="#">Menu item</a></li>
    <li class="menu-item language"><a href="#">Menu item</a></li>
    <li class="menu-item rest-tutorials"><a href="#">Menu item</a></li>
    <li class="menu-item posix-tutorials"><a href="#">Menu item</a></li>
  </ul>
  <ul class="menu-category no-sub">
    <li class="menu-title rewards"><a href="#">Single category</a></li>
  </ul>
  <ul class="menu-category no-sub">
    <li class="menu-title rewards"><a href="#">Single category</a></li>
  </ul>
</div>