<div class="medium-3 columns show-for-medium-up" id="side-menu">
  <h3>Components</h3>
  <ul class="menu-category no-sub">
    <li class="menu-title components"><a href="/core-devs/components">Overview</a></li>
  </ul>
  <ul class="menu-category no-sub">
    <li class="menu-title component-crust"><a href="/core-devs/component-crust">Crust</a></li>
  </ul>
  <ul class="menu-category no-sub">
    <li class="menu-title component-routing"><a href="/core-devs/component-routing">Routing</a></li>
  </ul>
  <ul class="menu-category no-sub">
    <li class="menu-title component-vaults"><a href="/core-devs/component-vaults">Vaults</a></li>
  </ul>
  <ul class="menu-category no-sub">
    <li class="menu-title component-self-encryption"><a href="/core-devs/component-self-encryption">Self Encryption</a></li>
  </ul>
  <ul class="menu-category no-sub">
    <li class="menu-title component-client"><a href="/core-devs/component-client">Client</a></li>
  </ul>
</div>