<div class="grid-3" id="side-menu">
  <ul class="menu-category">
    <li class="menu-title">Getting Started</li>
    <li class="menu-item intro"><a href="./">Intro</a></li>
    <li class="menu-item language"><a href="language">Language</a></li>
    <li class="menu-item rest-tutorials"><a href="rest-tutorials">REST API Tutorials</a></li>
    <li class="menu-item posix-tutorials"><a href="posix-tutorials">POSIX API Tutorials</a></li>
    <li class="menu-item support"><a href="support">Support</a></li>
    <li class="menu-item best-practices"><a href="best-practices">Best Practices</a></li>
  </ul>
  <ul class="menu-category">
    <li class="menu-title">Documentation</li>
    <li class="menu-item rest-docs"><a href="rest-docs">REST API</a></li>
    <li class="menu-item posix-docs"><a href="posix-docs">POSIX API</a></li>
  </ul>
  <ul class="menu-category">
    <li class="menu-title">Showcase</li>
    <li class="menu-item maidsafe-apps"><a href="maidsafe-apps">MaidSafe Apps</a></li>
    <li class="menu-item builder-apps"><a href="builder-apps">Builder Apps</a></li>
  </ul>
  <ul class="menu-category no-sub">
    <li class="menu-title rewards"><a href="rewards">Rewards</a></li>
  </ul>
</div>