<div class="medium-3 columns show-for-medium-up" id="side-menu">
  <h3>API Documentation</h3>
  <ul class="menu-category no-sub">
    <li class="menu-title api-docs"><a href="/app-devs/api-docs">Overview</a></li>
  </ul>
  <ul class="menu-category no-sub">
    <li class="menu-title rest-api"><a href="/app-devs/rest-api">REST Documentation</a></li>
  </ul>
  <ul class="menu-category no-sub">
    <li class="menu-title posix-api"><a href="/app-devs/posix-api">POSIX Documentation</a></li>
  </ul>
</div>